{% extends "layout.html" %}

{% block title %}BMR Calculator{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card w-50 mt-5" id="card-bmr">
        <h5 class="card-header">Form</h5>
        <div class="card-body">
            <h5 class="card-title">BMR</h5>
            <hr>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Gender:</label>
                    <select class="form-select" name="gender">
                        <option selected disabled>Enter your gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Weight:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Enter your weight" name="weight">
                        <span class="input-group-text">kg</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Height:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Enter your height" name="height">
                        <span class="input-group-text">cm</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Age:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Enter your age" name="age">
                        <span class="input-group-text">year</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
