{% extends "layout.html" %}

{% block title %}Login - Analyzing Face App{% endblock %}

{% block content %}
<div class="container card-container mt-5" style="width: 18rem;">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item" id="blurred-box">
      <a class="nav-link active" aria-current="page" href="/login" style="padding-left: 2.44rem; padding-right: 2.44rem;">Login</a>
    </li>
    <li class="nav-item" id="blurred-box">
      <a class="nav-link" href="/register" style="padding-left: 2.44rem; padding-right: 2.44rem; color: pink;">Register</a>
    </li>
  </ul>
  <div class="d-flex justify-content-center">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Login</h2>
        <hr>
        <form method="post">
          <div class="mb-3">
            <label class="form-label" style="margin-right: 190px;">Username</label>
            <input type="text" class="form-control" name="username" />
          </div>
          <div class="mb-3">
            <label class="form-label" style="margin-right: 190px;">Password</label>
            <input type="password" class="form-control" name="password" />
          </div>

          {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

          <hr>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary text-end">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
