{% extends "layout.html" %}

{% block title %}Register - Analyzing Face App{% endblock %}

{% block content %}
<div class="container card-container mt-5" style="width: 18rem;">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item" id="blurred-box">
      <a class="nav-link" href="/login" style="padding-left: 2.44rem; padding-right: 2.44rem; color: pink;">Login</a>
    </li>
    <li class="nav-item" id="blurred-box">
      <a class="nav-link active" href="/register" style="padding-left: 2.44rem; padding-right: 2.44rem;">Register</a>
    </li>
  </ul>
  <div class="d-flex justify-content-center">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Sign Up</h2>
        <hr>
        <form method="post">
          <div class="mb-3">
            <label class="form-label" style="margin-right: 175px;">First name</label>
            <input type="text" class="form-control" name="first_name" />
          </div>
          <div class="mb-3">
            <label class="form-label" style="margin-right: 180px;">Last name</label>
            <input type="text" class="form-control" name="last_name" />
          </div>
          <div class="mb-3">
            <label class="form-label" style="margin-right: 170px;">User Name</label>
            <input type="text" class="form-control" name="username" />
          </div>
          <div class="mb-3">
            <label class="form-label" style="margin-right: 150px;">Email address</label>
            <input type="email" class="form-control" name="email" />
          </div>
          <div class="mb-3">
            <label class="form-label" style="margin-right: 220px;">Age</label>
            <input type="number" class="form-control" name="age" />
          </div>
          <div class="mb-3">
            <label class="form-label" style="margin-right: 200px;">Country</label>
            <input type="text" class="form-control" name="country" />
          </div>
          <div class="mb-3">
            <label class="form-label" style="margin-right: 220px;">City</label>
            <input type="text" class="form-control" name="city" />
          </div>
          <div class="mb-3">
            <label class="form-label" style="margin-right: 190px;">Password</label>
            <input type="password" class="form-control" name="password" />
          </div>

          <div class="mb-3">
            <label class="form-label" style="margin-right: 115px;">Confirm password</label>
            <input type="password" class="form-control" name="confirm_password" />
          </div>

          {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

          <hr>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary text-end">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
