{% extends 'layout.html' %}

{% block title %}File Upload{% endblock %}

{% block content %}
<div class="card mt-5 mx-auto" style="width: 18rem; height: 20rem;">
    <div class="card-body">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2 class="card-title text-center">Upload</h2>
        <hr>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label text-start">Default file input</label>
                <input class="form-control mt-3" type="file" name="file">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary mt-3 text-end">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}